@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

section {
  text-align: center;
}

p, h1, h2, h3, span {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

li {
  text-align: left;
}
